<!DOCTYPE html>
<html>
<head>
  <title>MySQL Table Data</title>
</head>
<body>

<h1>MySQL Table Data</h1>

{% if data %}
<table border="1">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Autor</th>
      <th>Genero</th>
      <th>id_livro</th>
      
      <!-- Add other table headers here -->
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      <td>{{ row['Nome'] }}</td>
      <td>{{ row['Autor'] }}</td>
      <td>{{ row['Genero'] }}</td>
      <td>{{ row['id_livro'] }}</td>
      <!-- Render other columns in the row here -->
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No results found.</p>
{% endif %}

</body>
</html>