<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Livros</title>
</head>
<body>
    <h1>Lista de Livros</h1>

    <!-- Tabela de livros -->
    <table>
        <tr>
            <th>ID</th>
            <th>Autor</th>
            <th>Título</th>
            <th>Gênero</th>
        </tr>
    
    {% for rows in data %}

<tr>
    <td>{{rows[0]}}</td>
    <td>{{rows[1]}}</td>
    <td>{{rows[2]}}</td>
    <td>{{rows[3]}}</td>
</tr>
{% endfor %}
</table>





<!-- Mensagem de sucesso -->
{%if added %}
<p>Livro adicionado com sucesso!</p>
{% endif %}

<!-- Adding livro -->
<h2>Adicionar Livro</h2>

<form id = "formulario-livro" action = "adicionar_livro" method="POST">
    <label for="titulo">Titulo</label>
    <input type="text" id="titulo" name="titulo" required><br><br>
    
    <label for="autor">Autor</label>
    <input type="text" id="autor" name="autor" required><br><br>

    <label for="genero">Genero</label>
    <input type="text" id="genero" name="genero" required><br><br>

    <button type = "submit">Adicionar Livro</button>
</form>

<!-- Elemento para exibir a mensagem de pop-up -->
<div id="mensagem-popup" style="display:none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; border: 1px solid black; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); z-index: 9999;"></div>



<script src="static/js/script.js"></script>
</body>
</html>
