<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Livros</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Lista de Livros</h1>

        <!-- Botão para abrir o modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAdicionarLivro">
            Adicionar Livro
        </button>

      <!-- Removi o box de exibir mensagens daqui para integrar na tabela -->
      
        <!-- Tabela de livros -->
        <table class="table">
            <thread class="thread-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Título</th>
                    <th scope="col">Gênero</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Remover</th>
                </tr>
            </thread>
            <tbody>
                {% for rows in data %}
                    <tr>
                        <th scope="row">{{rows[0]}}</th>
                        <td>{{rows[1]}}</td>
                        <td>{{rows[2]}}</td>
                        <td>{{rows[3]}}</td>
                        <td><button class="btn btn-primary">Editar</button></td>
                        <td><button class="btn btn-danger">Remover</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal para adicionar livro -->
    <div class="modal fade" id="modalAdicionarLivro" tabindex="-1" role="dialog" aria-labelledby="modalAdicionarLivroLabel" aria-hidden="true">
      
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAdicionarLivro">Adicionar Livro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Forms p add livro -->
                    <form id="formulario-livro" action="adicionar_livro" method="POST">
                        <div class="form-group">
                            <label for="titulo">Titulo</label>
                            <input type="text" class="form-control" id="titulo" name="titulo" required><br><br>
                        </div>
                        <div class="form-group">
                            <label for="autor">Autor</label>
                            <input type="text" class="form-control" id="autor" name="autor" required><br><br>
                        </div>
                      
                        <div class="form-group">
                            <label for="genero">Gênero</label>
                            <input type="text" class="form-control" id="genero" name="genero" required><br><br>
                        </div>
                        <button type="submit" class="btn btn-info btn-lg">Adicionar Livro</button>
                    </form>
                </div>
              
                <!-- a mensagem de alerta (onde fiz as mudanças) -->
                <div class="modal-footer">
                    <div id="mensagem-box" class="alert" role="alert" style="display: none;">
                        <p id="mensagem-texto"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="static/js/script2.js"></script>
    <!-- Scripts do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>